<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base-layout}">

<th:block layout:fragment="content">
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Categories</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item"><a th:href="@{/categories}">Categories</a></li>
                <li class="breadcrumb-item active">Add Category</li>
            </ol>
            <!--Alerts for submissions-->
            <div class="alert alert-success" th:if="${success}"><i class="fa fa-check-circle"></i>
                [[${success}]]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
            </div>
            <div class="alert alert-danger" th:if="${fail}"><i class="fa fa-exclamation-circle"></i>
                [[${fail}]]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card card-static-2 mb-30">
                        <div class="card-title-2">
                            <h4>Add New Category</h4>
                        </div>

                        <div class="card-body-table">
                            <form method="post" th:object="${category}" th:action="@{/categories/save}" enctype="multipart/form-data">
                                <div class="news-content-right pd-20">
                                    <div class="form-group">
                                        <label class="form-label">Name*</label>
                                        <input type="text" th:field="*{label}" class="form-control"
                                               placeholder="Category Name">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Catalog*</label>
                                        <select th:field="*{catalog.idCatalog}" class="form-control">
                                            <option th:each="cat:${catalogs}" th:value="${cat.idCatalog}"
                                                    th:text="${cat.label}">Fruits & Vegetables
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Category Image*</label>
                                        <div class="input-group">
                                            <div class="">
                                                <input type="file" class="file form-control-file" id="inputGroupFile04" name="file" required>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="save-btn hover-btn" type="submit">Add New Category</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>
<th:block layout:fragment="scripts">
    <script>
        // with plugin options
        var url1 = 'http://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/FullMoon2010.jpg/631px-FullMoon2010.jpg',
            url2 = 'http://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Earth_Eastern_Hemisphere.jpg/600px-Earth_Eastern_Hemisphere.jpg';
        $("#inputGroupFile04").fileinput({
            'showUpload':false,
            'previewFileType':'any',
            initialPreview: [url1, url2],
            initialPreviewAsData: true,
        });
    </script>
</th:block>
</html>
