<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <!-- Basic page needs
	============================================ -->
    <title th:replace="fragments/title :: title"></title>
    <meta charset="utf-8">
    <meta name="keywords"
          content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business"/>
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow"/>

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/ico/apple-touch-icon-57-precomposed.png}">
    <link rel="shortcut icon" th:href="@{/ico/favicon.png}">

    <!-- Google web fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Libs CSS
	============================================ -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{/css/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/js/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <link th:href="@{/js/owl-carousel/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/css/themecss/lib.css}" rel="stylesheet">
    <link th:href="@{/js/jquery-ui/jquery-ui.min.css}" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link th:href="@{/css/themecss/so_megamenu.css}" rel="stylesheet">
    <link th:href="@{/css/themecss/so-categories.css}" rel="stylesheet">
    <link th:href="@{/css/themecss/so-listing-tabs.css}" rel="stylesheet">
    <link th:href="@{/css/footer1.css}" rel="stylesheet">
    <link th:href="@{/css/header1.css}" rel="stylesheet">
    <link id="color_scheme" th:href="@{/css/theme.css}" rel="stylesheet">

    <link th:href="@{/css/responsive.css}" rel="stylesheet">


</head>

<body class="common-home res layout-subpage">
<div id="wrapper" class="wrapper-full ">
    <!-- Header Container  -->
    <header th:replace="fragments/header :: header" ></header>
    <!-- //Header Container  -->

    <!-- Main Container  -->
    <div class="main-container container">
        <ul class="breadcrumb">
            <li><a th:href="@{#}"><i class="fa fa-home"></i></a></li>
            <li><a th:href="@{#}">Page</a></li>
            <li><a th:href="@{#}">Banner Effect</a></li>
        </ul>

        <div class="row">
            <div id="content" class="col-sm-12">

                <div class="about-us about-demo-1">
                    <h3>Banner Hover</h3>
                    <p>Hover over image below to see effect.</p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="module banners-effect-1">
                                <h3>Hover effect 1</h3>
                                <div class="banners">
                                    <div>
                                        <a th:href="@{#}"><img th:src="@{/image/demo/cms/banner-01.png}" alt=""></a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="module banners-effect-2">
                                <h3>Hover effect 2</h3>
                                <div class="banners">
                                    <div>
                                        <a th:href="@{#}"><img th:src="@{/image/demo/cms/banner-01.png}" alt=""></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="module banners-effect-3">
                                <h3>Hover effect 3</h3>
                                <div class="banners">
                                    <div>
                                        <a th:href="@{#}"><img th:src="@{/image/demo/cms/banner-01.png}" alt=""></a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="module banners-effect-4">
                                <h3>Hover effect 4</h3>
                                <div class="banners">
                                    <div>
                                        <a th:href="@{#}"><img th:src="@{/image/demo/cms/banner-01.png}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="module banners-effect-5">
                                <h3>Hover effect 5</h3>
                                <div class="banners">
                                    <div>
                                        <a th:href="@{#}"><img th:src="@{/image/demo/cms/banner-01.png}" alt=""></a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="module banners-effect-6">
                                <h3>Hover effect 6</h3>
                                <div class="banners">
                                    <div>
                                        <a th:href="@{#}"><img th:src="@{/image/demo/cms/banner-01.png}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="module banners-effect-7">
                                <h3>Hover effect 7</h3>
                                <div class="hover_effect_type ">
                                    <div class="banners">
                                        <div>
                                            <a th:href="@{#}"><img th:src="@{/image/demo/cms/banner-01.png}" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="module banners-effect-8">
                                <h3>Hover effect 8</h3>
                                <div class="banners">
                                    <div>
                                        <a th:href="@{#}"><img th:src="@{/image/demo/cms/banner-01.png}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="module banners-effect-9">
                                <h3>Hover effect 9</h3>
                                <div class="banners">
                                    <div>
                                        <a th:href="@{#}"><img th:src="@{/image/demo/cms/banner-01.png}" alt=""></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="module banners-effect-10">
                                <h3>Hover effect 10</h3>
                                <div class="banners">
                                    <div>
                                        <a th:href="@{#}"><img th:src="@{/image/demo/cms/banner-01.png}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="module banners-effect-11">
                                <h3>Hover effect 11</h3>
                                <div class="banners">
                                    <div>
                                        <a th:href="@{#}"><img th:src="@{/image/demo/cms/banner-01.png}" alt=""></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="module banners-effect-12">
                                <h3>Hover effect 12</h3>
                                <div class="banners">
                                    <div>
                                        <a th:href="@{#}"><img th:src="@{/image/demo/cms/banner-01.png}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- //Main Container -->


    <!-- Footer Container -->
    <footer th:replace="fragments/footer :: footer" ></footer>
    <!-- //end Footer Container -->

</div>


<!-- Include Libs & Plugins
	============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" th:src="@{/js/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
<script type="text/javascript" th:src="@{/js/themejs/libs.js}"></script>
<script type="text/javascript" th:src="@{/js/unveil/jquery.unveil.js}"></script>
<script type="text/javascript" th:src="@{/js/countdown/jquery.countdown.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datetimepicker/moment.js}"></script>
<script type="text/javascript" th:src="@{/js/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui/jquery-ui.min.js}"></script>


<!-- Theme files
============================================ -->


<script type="text/javascript" th:src="@{/js/themejs/so_megamenu.js}"></script>
<script type="text/javascript" th:src="@{/js/themejs/addtocart.js}"></script>
<script type="text/javascript" th:src="@{/js/themejs/application.js}"></script>


</body>
</html>