<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base-layout}">

        <th:block layout:fragment="content">
            <main>
                <div class="container-fluid">
                    <h2 class="mt-30 page-title">Catalog</h2>
                    <ol class="breadcrumb mb-30">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Catalog</li>
                    </ol>
                    <div class="row justify-content-between">
                        <div class="col-lg-12">
                            <a th:href="@{/add-catalog}" class="add-btn hover-btn">Add New</a>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="bulk-section mt-30">
                                <div class="input-group">
                                    <select id="action" name="action" class="form-control">
                                        <option selected>Bulk Actions</option>
                                        <option value="1">Active</option>
                                        <option value="2">Inactive</option>
                                        <option value="3">Delete</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="status-btn hover-btn" type="submit">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="bulk-section mt-30">
                                <div class="search-by-name-input">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <div class="input-group">
                                    <!-- <select id="categeory" name="categeory" class="form-control">
                                         <option selected>Active</option>
                                         <option value="1">Inactive</option>
                                     </select>-->
                                    <div class="input-group-append">
                                        <button class="status-btn hover-btn" type="submit">Search Catalogue</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="card card-static-2 mt-30 mb-30">
                                <div class="card-title-2">
                                    <h4>All Catalogs</h4>
                                </div>
                                <div class="card-body-table">
                                    <div class="table-responsive">
                                        <table class="table ucp-table table-hover">
                                            <thead>
                                            <tr>
                                                <th style="width:60px"><input type="checkbox" class="check-all"></th>
                                                <th style="width:60px">ID</th>
                                                <th style="width:130px">Image</th>
                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="catalog:${catalogs}">
                                                <td><input type="checkbox" class="check-item" name="ids[]" value="11"></td>
                                                <td th:text="${catalog.idCatalog}">1</td>
                                                <td th:text="${catalog.image}">
                                                    <div class="cate-img">
                                                        <img src="images/category/icon-1.svg" alt="">
                                                    </div>
                                                </td>
                                                <td th:text="${catalog.label}">Fruits and Vegetables</td>
                                                <td class="action-btns">
                                                    <a th:href="@{/catalogs/{id}(id=${catalog.idCatalog})}" class="edit-btn"><i
                                                            class="fas fa-edit"></i> Edit</a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </th:block>

</html>
