<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base-layout}">
<th:block layout:fragment="content">
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Customers</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item"><a th:href="@{/customers}">Customers</a></li>
                <li class="breadcrumb-item active">View</li>
            </ol>
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="card card-static-2 mb-30">
                        <div class="card-body-table">
                            <div class="shopowner-content-left text-center pd-20">
                                <div class="customer_img">
                                    <img src="images/avatar/img-1.jpg" alt="">
                                </div>
                                <div class="shopowner-dt-left mt-4">
                                    <h4 th:text="${customer.firstName +' '+customer.lastName}">Joginder Singh</h4>
                                    <span>Customer</span>
                                </div>
                                <ul class="product-dt-purchases">
                                    <li>
                                        <div class="product-status">
                                            Orders <span class="badge-item-2 badge-status" th:text="${customer.orders.size()}">15</span>
                                        </div>
                                    </li>
                                    <!-- <li>
                                         <div class="product-status">
                                             Rewards <span class="badge-item-2 badge-status">5</span>
                                         </div>
                                     </li>-->
                                </ul>
                                <div class="shopowner-dts">
                                    <div class="shopowner-dt-list">
                                        <span class="left-dt">Name</span>
                                        <span th:text="${customer.firstName +' '+customer.lastName}" class="right-dt">Joginder Singh</span>
                                    </div>
                                    <div class="shopowner-dt-list">
                                        <span class="left-dt">Username</span>
                                        <span th:text="${customer.firstName +' '+customer.lastName}" class="right-dt">joginder</span>
                                    </div>
                                    <div class="shopowner-dt-list">
                                        <span class="left-dt">Email</span>
                                        <span th:text="${customer.email}" class="right-dt"><a
                                                href=""
                                                class="__cf_email__"
                                                data-cfemail="6b18010a185a595b592b0c060a020745080406">[email&#160;protected]</a></span>
                                    </div>
                                    <div class="shopowner-dt-list">
                                        <span class="left-dt">Phone</span>
                                        <span th:text="${customer.phoneNumber}" class="right-dt">+918437176189</span>
                                    </div>
                                    <div class="shopowner-dt-list">
                                        <span class="left-dt">Address</span>
                                        <span th:each="address:${customer.addresses}" class="right-dt" th:text="${address.label}">Ludhiana, Punjab</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>

 </html>
