<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base-layout}">
<th:block layout:fragment="content">
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Catalog</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item"><a th:href="@{/catalogs}">Catalog</a></li>
                <li class="breadcrumb-item active">Edit Catalog</li>
            </ol>
            <!--Alerts for submissions-->
            <div class="alert alert-success" th:if="${success}"><i class="fa fa-check-circle"></i>
                [[${success}]]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
            </div>
            <div class="alert alert-danger" th:if="${fail}"><i class="fa fa-exclamation-circle"></i>
                [[${fail}]]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="card card-static-2 mb-30">
                        <div class="card-title-2">
                            <h4>Edit Catalog</h4>
                        </div>
                        <div class="card-body-table">
                            <form method="post" th:object="${catalogDTO}" th:action="@{/catalogs/{id}/update(id = *{idCatalog})}">
                                <input type="hidden" th:field="*{idCatalog}">
                                <div class="news-content-right pd-20">
                                    <div class="form-group">
                                        <label class="form-label">Name*</label>
                                        <input type="text" class="form-control" placeholder="Catalog Name" th:field="*{label}">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Catalog Image*</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" th:field="*{image}"
                                                       aria-describedby="inputGroupFileAddon04">
                                                <label class="custom-file-label" for="image">Choose
                                                    Image</label>
                                            </div>
                                        </div>
                                        <div class="add-cate-img">
                                            <img src="images/category/icon-1.svg" alt="">
                                        </div>
                                    </div>
                                    <button class="save-btn hover-btn" type="submit">Update Catalog</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>
</html>
