<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{layout/base-layout}">

<th:block layout:fragment="content">
    <main>
        <div class="container-fluid" >

            <h2 class="mt-30 page-title">Dashboard</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="row" >
                <div class="col-xl-3 col-md-6">
                    <div class="dashboard-report-card purple">
                        <div class="card-content">
                            <span class="card-title">Purchased items</span>
                            <span class="card-count" th:text="${nbrPurchased}">2</span>
                        </div>
                        <div class="card-media">
                            <i class="fab fa-rev"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="dashboard-report-card red">
                        <div class="card-content">
                            <span class="card-title">Order Cancel</span>
                            <span class="card-count" th:text="${nbrCanceled}">0</span>
                        </div>
                        <div class="card-media">
                            <i class="far fa-times-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="dashboard-report-card info">
                        <div class="card-content">
                            <span class="card-title">Order Complete </span>
                            <span class="card-count" th:text="${nbrComplete}">5</span>
                        </div>
                        <div class="card-media">
                            <i class="fas fa-sync-alt rpt_icon"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6" >
                    <div class="dashboard-report-card success">
                        <div class="card-content">
                            <span class="card-title">Today Income</span>
                            <span class="card-count" > 1250 F</span>
                        </div>
                        <div class="card-media">
                            <i class="fas fa-money-bill rpt_icon"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-md-12">
                    <div class="card card-static-1 mb-30">
                        <div class="card-body">
                            <div id="earningGraph"></div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-md-12">
                    <div class="card card-static-2 mb-30">
                        <div class="card-title-2">
                            <h4>Recent Orders</h4>
                            <a th:href="@{/orders}" class="view-btn hover-btn">View All</a>
                        </div>
                        <div class="card-body-table">
                            <div class="table-responsive">
                                <table class="table ucp-table table-hover">
                                    <thead>
                                    <tr >
                                        <th style="width:130px">Order ID</th>
                                        <th>Item</th>
                                        <th style="width:200px">Date</th>
                                        <th style="width:300px">Address</th>
                                        <th style="width:130px">Status</th>
                                        <th style="width:130px">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order:${recentOrders}">
                                        <td th:text="${order.idOrder}">ORDER12345</td>
                                        <td th:text="${order.createdAt}"></td>

                                        <td th:text="${order.address.label+', '+order.address.city.label}">
                                        </td>
                                        <td><span th:class="${order.orderState.codeOrderState=='PENDING' ? 'badge-item badge-status' : (order.orderState.codeOrderState=='COMPLETE' ? 'badge-item badge-success' : 'badge-item badge-danger') }" th:text="${order.orderState.codeOrderState}"></span>
                                        </td>
                                        <td th:text="${order.total}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>

</html>
