<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>

    <link href="assets/css/default/app.min.css" rel="stylesheet"/>

</head>

<body class="pace-top">

<div id="page-loader" class="fade show">
    <span class="spinner"></span>
</div>

<div id="page-container" class="fade">

    <div class="login login-v1">
        <div class="login-container">

            <div class="login-header">
                <div class="brand">
                    <span class=""></span> <b>KAM.SO</b> Admin
                    <small>Connected</small>
                </div>
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div>
            </div>


            <div class="login-body">

                <div class="login-content">
                    <form action="" method="GET"
                          class="margin-bottom-0">
                        <div class="form-group m-b-20">
                            <input type="text" class="form-control form-control-lg inverse-mode"
                                   placeholder="Email Address" required/>
                        </div>
                        <div class="form-group m-b-20">
                            <input type="password" class="form-control form-control-lg inverse-mode"
                                   placeholder="Password" required/>
                        </div>
                        <div class="checkbox checkbox-css m-b-20">
                            <input type="checkbox" id="remember_checkbox"/>
                            <label for="remember_checkbox">
                                Remember Me
                            </label>
                        </div>
                        <div class="login-buttons">
                            <button type="submit" class="btn btn-danger btn-block btn-lg">Sign me in</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>



    </div>

    <script src="assets/js/app.min.js" type="de474c0039cfad07129b1c7d-text/javascript"></script>
    <script src="assets/js/theme/default.min.js" type="de474c0039cfad07129b1c7d-text/javascript"></script>

    <script type="de474c0039cfad07129b1c7d-text/javascript">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-53034621-1', 'auto');
		ga('send', 'pageview');



    </script>
    <script src="ajax/rocket-loader.min.js"
            data-cf-settings="de474c0039cfad07129b1c7d-|49" defer=""></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>
