
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    
    <!-- Basic page needs
	============================================ -->
	<title th:replace="fragments/title :: title"></title>
	<meta charset="utf-8">
    <meta name="keywords" content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
   
	<!-- Mobile specific metas
	============================================ -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<!-- Favicon
	============================================ -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/ico/apple-touch-icon-57-precomposed.png}">
    <link rel="shortcut icon" th:href="@{/ico/favicon.png}">
	
	<!-- Google web fonts
	============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
    <!-- Libs CSS
	============================================ -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.min.css}">
	<link th:href="@{/css/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/js/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <link th:href="@{/js/owl-carousel/owl.carousel.css}" rel="stylesheet">
	<link th:href="@{/css/themecss/lib.css}" rel="stylesheet">
	<link th:href="@{/js/jquery-ui/jquery-ui.min.css}" rel="stylesheet">
	
	<!-- Theme CSS
	============================================ -->
   	<link th:href="@{/css/themecss/so_megamenu.css}" rel="stylesheet">
    <link th:href="@{/css/themecss/so-categories.css}" rel="stylesheet">
	<link th:href="@{/css/themecss/so-listing-tabs.css}" rel="stylesheet">
	<link th:href="@{/css/footer1.css}" rel="stylesheet">
	<link th:href="@{/css/header1.css}" rel="stylesheet">
		<link id="color_scheme" th:href="@{/css/theme.css}" rel="stylesheet">
		
	<link th:href="@{/css/responsive.css}" rel="stylesheet">
	
   
	
</head>

<body class="common-home res layout-subpage">
    <div id="wrapper" class="wrapper-full ">
	<!-- Header Container  -->
		<header th:replace="fragments/header :: header"></header>
	<!-- //Header Container  -->
	<!-- Main Container  -->
	<div class="main-container container">
		<ul class="breadcrumb">
			<li><a th:href="@{#}"><i class="fa fa-home"></i></a></li>
			<li><a th:href="@{#}">Order Infomation</a></li>
		</ul>
		
		<div class="row">
			<!--Middle Part Start-->
			<div id="content" class="col-sm-9">
				<h2 class="title">Order Information</h2>

				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<td colspan="2" class="text-left">Order Details</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="width: 50%;" class="text-left"> <b>Order ID:</b> #[[ ${order.idOrder} ]]
								<br>
								<b>Date Added:</b> [[ ${order.createdAt} ]]</td>
							<td style="width: 50%;" class="text-left"> <b>Payment Method:</b> [[
								${order.paymentDetail.paymentMethod.label} ]] ([[${order.paymentDetail.paymentMethod.provider}]])
								<br>
								<b>Shipping Method:</b> Flat Shipping Rate </td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<td style="width: 50%; vertical-align: top;" class="text-left">Shipping Address</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-left">[[ ${order.address.firstName} ]] [[ ${order.address.lastName} ]]
								<br>[[ ${order.address.label} ]]
								<br>[[ ${order.address.city.label} ]]
								<br>[[ ${order.address.city.region.label} ]]
								<br>Côte d'Ivoire</td>
						</tr>
					</tbody>
				</table>
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<td class="text-left">Product Name</td>
								<td class="text-left">Brand</td>
								<td class="text-right">Quantity</td>
								<td class="text-right">Price</td>
								<td class="text-right">Total</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="orderItem : ${order.orderItems}" >
								<td class="text-left" ><a th:href="@{/product/{id}(id=${orderItem.article.idArticle})}" th:text="${orderItem.article.label}"></a> </td>
								<td class="text-left" ><a th:href="@{/product/{id}(id=${orderItem.article.idArticle})}" th:text="${orderItem.article.brand}"></a></td>
								<td class="text-right" th:text="${orderItem.quantity}">1</td>
								<td class="text-right">[[ ${orderItem.article.price} ]] FCFA</td>
								<td class="text-right"> [[ ${orderItem.article.price * orderItem.quantity} ]] FCFA </td>
							</tr>

						</tbody>
						<tfoot>
							<tr>
								<td colspan="3"></td>
								<td class="text-right"><b>Total</b>
								</td>
								<td class="text-right">[[ ${order.total} ]] FCFA</td>
								<td></td>
							</tr>
						</tfoot>
					</table>
				</div>
				<h3>Order State</h3>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<td class="text-left">Date</td>
							<td class="text-left">Status</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${order.createdAt}" class="text-left">20/06/2016</td>
							<td class="text-left">
								<button th:if="${order.orderState.codeOrderState == 'PENDING'}" class="btn btn-warning" onclick="">[[${order.orderState.label}]]</button>
								<button th:if="${order.orderState.codeOrderState == 'CANCELED'}" class="btn btn-danger" onclick="">[[${order.orderState.label}]]</button>
								<button th:if="${order.orderState.codeOrderState == 'COMPLETE'}" class="btn btn-success" onclick="">[[${order.orderState.label}]]</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="buttons clearfix">
					<div class="pull-right"><a class="btn btn-primary" th:href="@{/order-history}">Continue</a>
					</div>
				</div>



			</div>
			<!--Middle Part End-->
			<!--Right Part Start -->
			<aside class="col-sm-3 hidden-xs" id="column-right">
				<h2 class="subtitle">Account</h2>
<div class="list-group">
	<ul class="list-item">
		<li><a th:href="@{login}">Login</a>
		</li>
		<li><a th:href="@{register}">Register</a>
		</li>
		<li><a th:href="@{#}">Forgotten Password</a>
		</li>
		<li><a th:href="@{#}">My Account</a>
		</li>
		<li><a th:href="@{#}">Address Books</a>
		</li>
		<li><a th:href="@{wishlist}">Wish List</a>
		</li>
		<li><a th:href="@{#}">Order History</a>
		</li>
		<li><a th:href="@{#}">Downloads</a>
		</li>
		<li><a th:href="@{#}">Reward Points</a>
		</li>
		<li><a th:href="@{#}">Returns</a>
		</li>
		<li><a th:href="@{#}">Transactions</a>
		</li>
		<li><a th:href="@{#}">Newsletter</a>
		</li>
		<li><a th:href="@{#}">Recurring payments</a>
		</li>
	</ul>
</div>			</aside>
			<!--Right Part End -->
		</div>
	</div>
	<!-- //Main Container -->


	<!-- Footer Container -->
		<footer th:replace="fragments/footer :: footer"></footer>
	<!-- //end Footer Container -->

    </div>
	
	
<!-- Include Libs & Plugins
	============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
	<script type="text/javascript" th:src="@{/js/themejs/libs.js}"></script>
	<script type="text/javascript" th:src="@{/js/unveil/jquery.unveil.js}"></script>
	<script type="text/javascript" th:src="@{/js/countdown/jquery.countdown.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/datetimepicker/moment.js}"></script>
	<script type="text/javascript" th:src="@{/js/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui/jquery-ui.min.js}"></script>
	
	
	<!-- Theme files
	============================================ -->
	
	
	<script type="text/javascript" th:src="@{/js/themejs/so_megamenu.js}"></script>
	<script type="text/javascript" th:src="@{/js/themejs/addtocart.js}"></script>
	<script type="text/javascript" th:src="@{/js/themejs/application.js}"></script>
	
	
	
</body>
</html>