<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base-layout}">
<th:block layout:fragment="content" >
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Orders</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item"><a th:href="@{/orders}">Orders</a></li>
                <li class="breadcrumb-item active">Order view</li>
            </ol>
            </ol>
            </div>

            <div class="row" >
                <div class="col-lg-5 col-md-6">
                    <div class="card card-static-2 mb-30">
                        <div class="card-body-table">
                            <div class="shopowner-content-left text-center pd-20">
                                <div class="customer_img">
                                    <img src="images/avatar/img-1.jpg" alt="">
                                </div>
                                <ul class="product-dt-purchases">
                                </ul>
                                <div class="shopowner-dts">

                                    <div class="shopowner-dt-list">
                                        <div class="right-dt" th:text="${order.total}">
                                            Total
                                        </div>
                                    </div>
                                    <div class="shopowner-dt-list">
                                        <div class="product-status" >
                                            <span class="left-dt">Date</span>
                                            <span  th:text="${order.createdAt}" class="right-dt"></span>
                                        </div>
                                    </div>
                                    <div class="shopowner-dt-list">
                                        <div class="product-status" >
                                            <span class="left-dt">Payment</span>
                                            <span class="right-dt" th:text="${order.paymentDetail.paymentMethod.label}"></span>

                                        </div>
                                    </div>
                                    <div class="shopowner-dt-list">
                                        <div class="product-status" >
                                            <span class="left-dt">Customer</span>
                                            <span class="right-dt" th:text="${order.customer.email}"></span>

                                        </div>
                                    </div>
                                    <div class="shopowner-dt-list">
                                        <div class="product-status" >
                                            <span class="left-dt">State</span>
                                            <span class="right-dt" th:text="${order.orderState.codeOrderState}"></span>
                                        </div>
                                    </div>

                                </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>
</th:block>

</html>
