<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base-layout}">
<th:block layout:fragment="content" >
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Orders</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item"><a th:href="@{/orders}">Orders</a></li>
                <li class="breadcrumb-item active">Order view</li>
            </ol>
            <div class="row" >
                <div class="col-lg-5 col-md-6">
                    <div class="card card-static-2 mb-30">
                        <div class="card-body-table">
                            <div class="shopowner-content-left text-center pd-20">
                                <div class="customer_img">
                                    <img th:src="@{/images/cart.jpg}" alt="cart">
                                </div>
                                <div class="shopowner-dt-left mt-4">
                                    <h4>ORDERNO[[${order.idOrder}]]</h4>
                                    <span>Customer</span>
                                </div>
                                <ul class="product-dt-purchases">
                                    <li>
                                        <div class="product-status">
                                            Articles <span class="badge-item-2 badge-status" th:text="${order.orderItems.size()}">15</span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="shopowner-dts">

                                    <div class="shopowner-dt-list">
                                        <span class="left-dt">Total</span>
                                        <div class="right-dt" th:text="${order.total}">
                                        </div>
                                    </div>
                                    <div class="shopowner-dt-list">
                                            <span class="left-dt">Date</span>
                                            <div th:text="${order.createdAt}" class="right-dt"></div>
                                    </div>
                                    <div class="shopowner-dt-list">
                                            <span class="left-dt">Payment</span>
                                            <div class="right-dt" th:text="${order.paymentDetail.paymentMethod.label}"></div>
                                    </div>
                                    <div class="shopowner-dt-list">
                                            <span class="left-dt">Customer email</span>
                                            <div class="right-dt" th:text="${order.customer.email}"></div>
                                    </div>
                                    <div class="shopowner-dt-list">
                                            <span class="left-dt">State</span>
                                            <span th:class="${order.orderState.codeOrderState=='PENDING' ? 'right-dt badge-item badge-status' : (order.orderState.codeOrderState=='COMPLETE' ? 'right-dt badge-item badge-success' : 'right-dt badge-item badge-danger') }" th:text="${order.orderState.codeOrderState}"></span>
                                    </div>

                                </div>
                        </div>
                    </div>
                </div>

            </div>
                <div class="col-lg-7 col-md-6">

                </div>
            </div>
        </div>
    </main>
</th:block>

</html>
